@model IEnumerable<string>
<div style="margin-top:20px"></div>
@Html.ActionLink("Home", "List", "Products", null,
new { @class = "btn btn-block btn-default btn-lg" })
@foreach (var link in Model)
{
    @Html.RouteLink(link, new
{
    controller = "Products",
    action = "List",
    category = link,
    page = 1
}, new
{
    @class = "btn btn-block btn-default btn-lg"
    + (link == ViewBag.SelectedCategory ? " btn-primary" : "")
})
}